body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#panorama {
    position: absolute;
    height: 100%;
    transition: transform 0.1s linear;
}
